/* layout.css */
body {
    min-width: 1100px; 
    background-color: #1a1a1d;
    margin: 0;
}

.wrapper {
    display: grid;
    /* This sets the exact width of sidebar and main content */
    grid-template-columns: 280px 800px; 
    width: 1100px;      /* Total width of the layout */
    margin: 40px auto;  /* 'auto' is what pushes it to the center */
    gap: 20px;
}

.sidebar {
    align-self: start;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
