body {
    min-width: 1100px; 
    overflow-x: auto;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 280px 1fr; 
    max-width: 1100px;
    margin: 40px auto;
    gap: 25px;
    padding: 0 20px;
}

.sidebar {
    align-self: start;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
