/* structure.css */

body {
    min-width: 1100px; 
    background-color: #1a1a1d;
    margin: 0;
}

.wrapper {
    display: grid;
    /* Sidebar 280px + Content 800px + Gap 20px = 1100px Total */
    grid-template-columns: 280px 800px; 
    width: 1100px;      
    margin: 40px auto !important; /* AUTO centers the box on the screen */
    gap: 20px;
}

.sidebar {
    align-self: start;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
