/* structure.css */

body {
    min-width: 1100px; 
    background-color: #1a1a1d;
    margin: 0;
}

/* structure.css */

.wrapper {
    display: grid;
    /* Column 1 (Sidebar) is 280px, Column 2 (Ranks) is 800px */
    grid-template-columns: 280px 800px; 
    width: 1100px;      
    margin: 40px auto !important; 
    gap: 30px; /* This creates the "air" between the categories and ranks */
    align-items: start;
}

.sidebar {
    grid-column: 1; /* Force sidebar to stay in the first column */
    min-width: 280px;
}

.main-content {
    grid-column: 2; /* Force ranks to stay in the second column */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
